spring:
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}

  datasource:
    driver-class-name: org.postgresql.Driver
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 10
      minimum-idle: 5
      idle-timeout: 300000
      max-lifetime: 600000
      connection-test-query: SELECT 1
  sql:
    init:
      mode: never

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
    validate-on-migrate: true
    schemas: public
    baseline-version: 0

server:
  port: 8082

razorpay:
  key: ${RAZORPAY_KEY:your-razorpay-key-id}
  secret: ${RAZORPAY_SECRET:your-razorpay-secret-key}

---
# PROD Profile - Supabase Cloud Postgres
spring:
  config:
    activate:
      on-profile: prod

  datasource:
    url: ${SUPABASE_DATASOURCE_URL:jdbc:postgresql://aws-1-ap-south-1.pooler.supabase.com:6543/postgres}
    username: ${SUPABASE_DATASOURCE_USERNAME:postgres.kcykicebvvsshyirgldl}
    password: ${SUPABASE_DATASOURCE_PASSWORD:Adminpetsupbase12}

---
# DEV Profile - Local Docker Postgres
spring:
  config:
    activate:
      on-profile: dev

  datasource:
    url: ${LOCAL_DATASOURCE_URL:jdbc:postgresql://postgres:5432/appdb}
    username: ${LOCAL_DATASOURCE_USERNAME:appuser}
    password: ${LOCAL_DATASOURCE_PASSWORD:apppass}
